*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background: #f9f9f9;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 30px;
    background: white;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: #1e4db7;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 17px;
}
.nav-links a:hover{
    color: #4a7dfc;
    background: skyblue;
    padding: 10px 50px;
}

.login-btn{
    padding: 12px 30px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: #eee;
    border-radius: 10px;
    cursor: pointer;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 2000;
}

/*hero*/
.hero{
    display: flex;
    text-align: center;
    padding: 60px 40px;
}
.hero-text{
    max-width: 100%;
    padding-left: 380px;
}
.hero-text h1{
    font-size: 47px;
    color: #000;
    margin-bottom: 30px;
}
.hero-text p{
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}
.btn-p{
    background: #4a7dfc;
    color: #fff;
    align-items: center;
    padding: 12px 125px;
    border-radius: 10px;
    text-decoration: none;
}
.btn-s{
    background: #e9e9e9;
    padding: 12px 120px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
}
.img1{
    text-align: center;
}
.get{
    background: #000;
    text-align: center;
    padding: 40px 20px;
}
.get h2{
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;
}
.get img{
    border-radius: 12px;
}
.t{
    background: #000;
    text-align: center;
}
.bt{
   background: #4a7dfc;
    color: #fff;
    align-items: center;
    padding: 12px 40px;
    margin-left: 350px;
    max-width: 400px;
    border-radius: 10px;
    text-decoration: none;
}
.testimonies{
    background: #000;
    color: #fff;
    text-align: center;
}
.testimonies h2{
    padding-top: 100px;
    font-size: 35px;
    font-weight: 100;
}
.container-test{
    padding: 50px;
    background: black;
    color: #fff;
    display: grid;
    gap: 30px;
    margin-top: 40px;
    align-items: start;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));

}
.test{
   background: #d9e6f3;
   color: #000;
   padding: 40px 60px;
   margin: 20px;
   border-radius: 15px;
   font-size: 18px;
}
.test h4{
    padding: 20px;
    padding-bottom: 8px;
}

/*pricing*/

.pricing{
   max-width: 700px;
   margin: auto;
   text-align: center;
}
.pricing h2{
    margin-top: 25px;
    font-size: 32px;
    padding-bottom: 10px;
}
.pricing p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #000;
}
.pricing-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.card{
    background: #eaeaea;
    padding: 25px;
    border-radius: 15px;
    text-align: left;
}
.card h3{
    font-size: 30px;
    margin-bottom: 10px;

}
.card p{
    font-size: 18px;
    margin-bottom: 20px;
}
.card .pl{
    font-size: 18px;
    
}
.card span{
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.feat{
    list-style: none;
    margin-bottom: 20px;
}
.feat li{
    margin: 12px 0;
    font-size: 18px;
}

.btn:hover{
    background: #357abd;
}
/*ptag*/
.p{
    padding: 40px 20px;
    text-align: center;
    max-width: 100%;

}
.pc{
    background: #000;
    color: #fff;
    max-width: 700px;
    margin: auto;
    padding: 30px 35px;
    border-radius: 10px;

}
.plan{
    font-size: 33px;
    margin-bottom: 16px;
}
.description{
    color: #efefef;
    line-height: 1.6;
    margin-bottom: 26px;
}
.price{
    font-size: 35px;
    margin-bottom: 10px;
}
.price span{
    font-size: 18px;
    color: #bbb;
}
hr{
    border: .5solid #444;
}
.feature-title{
    margin-bottom: 15px;
    color: #ddd;
} 
.fe{
    list-style: none;
    padding: 0;
    text-align: left;
    margin-bottom: 25px;
}
.fe li{
    margin: 12px 0;
    font-size: 16px;
}
.btn{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #4a84e3;
    color: #d9e6f3;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
    background: #3a6fca;
}
.note{
    margin-top: 20px;
    color: #555;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/*faq*/

.faq-c{
    max-width: 800px;
    margin: auto;
}
.faq-tab{
    display: flex;
    margin-bottom: 20px;
    background: #ddd;
    padding: 5px;
    border-radius: 10px;
}
.faq-tab:hover{
    background: skyblue;
}
.tab{
    flex: 1;
    padding: 10px 18px;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.tab-active{
    background: #3b82fb;
    color: #fff;
    margin: 15px;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
}
.faq-item{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.icon{
    font-size: 22px;
    font-weight: bold;
    transition: .3s;
}
.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}
.faq-answer p{
    margin-top: 10px;
    color: #555;
}
.faq-item .active .icon{
    transform: rotate(45deg);
}
.footer{
    background: #0b0b0b;
    color: #ccc;
    padding: 40px 20px;
    margin-top: 50px;
}
.footer-c{
    max-width: 900px;
    margin: auto;
}
.footer-logo{
    font-size: 24px;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 20px;
}
.footer-links{
    list-style: none;
}
.footer-links li{
    margin: 10px 0;
}
.footer-links a{
    text-decoration: none;
    color: #ccc;
    transition: .3s;
}
.footer-links a:hover{
    color: #4a90e2;
}
.footer-bottom{
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
@media(max-width: 768px){
    .hero{
        padding-left: 150px;
        text-align: center;
        gap: 30px;
    
    }
    .bt{
        margin-left: 3px;
        align-items: center;
        text-align: center;
    }
    .hero-text{
        text-align: center;
        padding-left: 8px;
    }
    .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 75%;
        background: #f9f9f9;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        gap: 35px;
        box-shadow: -5px 0 15px rgba(0, 0, 0, .1);
        transition: .4s;
        z-index: 1500;
    }
    .button{
        align-items: center;
    }
    .nav-links.active{
        right: 0;
    }
    .hamburger{
        display: block;
        top: 20px;
        right: 25px;
    }
    .get img{
        max-width: 550px;
    }
    .basic li{
        align-items: start;
        text-align: center;
    }
    .plan{
        font-size: 30px;
    }
    .price{
        font-size: 32px;
    }
    .btn{
        font-size: 16px;
    }
    .basic{
        margin-left: 30px;
        text-align: center;
    }
    .list li{
        text-align: center;
        align-items: start;
    }
    .faq-question{
        font-size: 16px;
    }
    .icon{
        font-size: 20px;
    }
    .footer-logo{
        font-size: 20px;
    }
}